/adding-new-task7.html
/check-task11.html
/creating-elements4.html
/delete-task8.html
/deleting-all10.html
/event-listeners6.html
/filters12.html
/multiple-elements2.html
/single-elements1.html
/traversing-elements3.html
/update-task9.html
/updating-elements5.html